/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: _config.css
 */

/* login form */
#dw__login {
	fieldset {
		& {
			background-color: @ini_alt_color;
		}
		legend {
		}
		label {
			width: 80%;
		}
		label.block {
			& {
				display: inline-grid;
				gap: .5em;
				grid-template-columns: 1fr 2fr;
				align-items: center;	
				margin: .25em 0;
			}
			span {
				justify-self: end;
			}
		}
		label[for=remember__me] {
			display: inline-block;
			width: 100%;
		}
		button {
			margin: 1em auto 0 auto;
		}
	}
}

/* admin homepage UI */
main .ui-admin {
	& {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 1em;
	}
	h1, h2, & > div {
		grid-column: 1 / span 2;
	}
	ul {
		& {
			list-style: none inside;
			padding: 0;
		}
		li {
			& {
				padding: .25em;
			}
			a {
				display: block;
				border-radius: .25em;
				color: @ini_link;
				display: flex;
				align-items: flex-start;
				gap: .25em;
				text-decoration: none;
			}
			svg {
				fill: @ini_link;
			}
		}
	}
}

/* configuration manager */
#config__manager {
	& {
		position: relative;
	}
	table {
		&, tbody, thead, tr, td, th {
			display: block;
		}
		td.label {
			& {
				padding: 0;
				font-size: .9rem;
				line-height: 1.5em;
				margin-bottom: .25em;
			}
			span.outkey {
				& {
					margin: 0;
					background-color: transparent;
					float: right;
					z-index: initial;
				}
				a:link, a:visited {
					color: @ini_text;
					background-color: @ini_background;
					border-color: @ini_border_color;
					text-decoration: none;
					padding: .25em;
					border-radius: .25em;
				}
				a:hover, a:focus {
					color: @ini_link;
				}
			}
			img {
				padding: 0 .25em;
			}
		}
		td.value {
			& {
				clear: right;
				margin-left: 1em;
				width: ~"calc(100% - 1em)";
				margin-bottom: .5em;
				font-size: .85rem;
			}
			div.input {
				& {
					width: 100%;
					background-color: transparent;
					font-size: smaller;
				}
				& > * {
					font-size: .85rem;
				}
			}
			input[type=text], input[type=password], select, textarea {
				background-color: @ini_form_field_bg;
			}
			input[type=text], input[type=password] {
				width: ~"calc(100% - 1.5em)";
			}
			input[name="config[fmode]"], input[name="config[dmode]"],
			input[name="config[auth_security_timeout]"],
			input[name="config[cssdatauri]"],
			input[name="config[tpl____nuropa____bannersize]"] {
				max-width: 4em;
			}
			input[name="config[recent]"], input[name="config[recent_days]"], input[name="config[breadcrumbs]"],
			input[name="config[jpg_quality]"],
			input[name="config[sitemap]"],
			input[name="config[readdircache]"], input[name="config[search_nslimit]"],
			input[name="config[logretain]"] {
				max-width: 2.25em;
			}
			input[name="config[defaultgroup]"],
			input[name="config[indexdelay]"],
			input[name="config[locktime]"], input[name="config[cachetime]"],
			input[name="config[fetchsize]"],
			input[name="config[subscribe_time]"],
			input[name="config[rss_update]"],
			input[name="config[tpl____nuropa____bannerimg]"] {
				max-width: 11em;
			}

			div.selection {
				& {
					display: grid;
					grid-template-columns: auto 1.25em;
					column-gap: .25em;
					place-items: start center;
					background-color: transparent;
				}
				&:nth-child(4n+1), &:nth-child(4n) {
					background-color: #FFF;
				}
				label {
					float: initial;
					color: @ini_link;
					font-weight: bold;
				}
			}
			div.selectiondefault {
				& {
					background-color: transparent;
				}
				label {
					color: @ini_text;
					font-weight: normal;
				}
			}
			textarea {
				width: 100%;
				resize: vertical;
				font-family: @ini_mono_fonts;
				font-size: @ini_mono_font_size;
			}
		}
		tr:not(.default) {
			td.value {
				input[type=text], select, textarea {
					& {
						border: @ini_link solid 2px;
						color: @ini_link;
						font-weight: bold;
					}
				}
			}
		}
	}
	#dw__configform > p:last-child {
		display: grid;
		grid-template-columns: auto auto;
		justify-items: center;
	}
}
			
/* style manager */
#plugin__styling {
	form.styling {
		p:first-child {
			text-align: right;
		}
		table {
			tr:nth-child(odd) {
				background-color: @ini_alt_color;
			}
			& {
				width: 100%;
			}
			input {
				width: 100%;
				min-width: 16em;
				text-align: left;
			}
			input[type=text] {
				font-size: 75%;
			}
		}
		button[name="run[preview]"],
		button[name="run[reset]"],
		button[name="run[revert]"] {
			border: @ini_form_btn_outline solid 1px;
			background-color: @ini_form_btn_bg;
			color: @ini_form_btn_text;
		}
	}
}

/* extension manager */
#extension__manager {
	form.install.doku_form {
		& {
			width: 100%;
		}
		label.block {
			& {
			}
			span {
				display: block;
				text-align: left;
				width: ~"calc(100% - .5em)";
			}
			input {
				display: block;
				width: ~"calc(100% - 2em)";
				margin: .25em 0 0 1em;
			}
			&:nth-of-type(3) {
				& {
					display: grid;
					grid-template-columns: 2em auto;
					gap: .5em;
				}
				input[type=checkbox] {
					width: 1.25em; height: 1.25em;
				}
			}
		}
	}
}

/* user manager */
#user__manager {
	& {
		font-size: small;
	}
	table {
		& {
			border: @ini_border_color solid 2px;
		}
		thead, tfooter {
			background-color: @ini_alt_color;
		}
		tbody {
			tr:nth-child(even) {
				background-color: @ini_alt_color;
			}
		}
		button:not([name="fn[add]"]) {
			border: @ini_form_btn_outline solid 1px;
			background-color: @ini_form_btn_bg;
			color: @ini_form_btn_text;
			font-size: small;
			padding: .25em .5em;
		}
	}
}

/* account profile page */
#dw__register, #dw__profiletoken {
	fieldset {
		& {
			background-color: @ini_alt_color;
			font-size: smaller;
		}
		label.block {
			& {
				display: inline-grid;
				grid-template-columns: 1fr 2fr;
				align-items: center;
				gap: .5em;
				width: ~"calc(100% - .25em)";
				padding: .25em 0;
			}
			span {
				text-align: right;
			}
		}
		button {
			margin: 1em;
		}
	}
}
#dw__profiletoken