/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: _diff.less
 */

body.mode_revisions {
	#page__revisions {
		ul {
			& {
				list-style: none inside;
				margin: 0 0 1em 0;
				padding: 0;
			}
			li {
				padding-left: .25em;
			}
			li:nth-child(odd) {
				background-color: @ini_background_alt;
			}
			span.date {
				font-family: @ini_mono_fonts;
				font-size: @ini_mono_font_size;
				margin-right: .5em;
			}
		}
	}
}

body.mode_diff {
	.diff-deletedline {
		color: #000;
		background-color: #F1D5D3;
	}
	.diff-addedline {
		color: #000;
		background-color: #D3F1D9;
	}
	.diffnav {
		a {
			margin-right: .5em;
		}
		form {
			display: block;
			margin-top: .25em;
		}
	}
	table.diff_sidebyside {
		& {
			width: 100%;
			border: @ini_border_color solid 2px;
			font-family: @ini_mono_fonts;
			font-size: smaller;
		}
		td {
			vertical-align: top;
		}
		td.diff-blockheader {
			background-color: @ini_background_alt;
		}
		td.diff-lineheader {
			width: 1.5em;
			text-align: center;
		}
		td.diff-deletedline {
			strong.diff-mark {
				color: #701710;
				text-decoration: line-through;
				font-weight: 600;
				text-decoration-color: #70171077;
			}
		}
		td.diff-addedline {
			strong.diff-mark {
				color: #10491B;
				text-decoration: underline;
				font-weight: 600;
				text-decoration-color: #10491B77;
			}
		}
	}
	table.diff_inline {
		&, select {
			width: 100%;
		}
		tr:nth-child(odd) {
			background-color: @ini_background_alt;
		}
		td, th {
			padding: .25em 0;
		}
		th {
			text-align: left;
			font-weight: normal;
		}
		
	}
}