@charset "UTF-8";

/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: content.css
 */

main {
	.secedit {
		& {
			float: right;
			margin-top: -22pt;
			line-height: 0;
			z-index: 5;
		}
		div.no {
			display: inline;
			margin: 0;
			padding: 0;
		}
		button {
			border: @ini_border_color solid 1pt;
			background-color: transparent;
			color: transparent;
			width: 1.75rem; height: 1.75rem;
			border-radius: 50%;
			font-size: 0;
			cursor: pointer;
		}
		button::before {
			content: ' ';
			display: inline-block;
			width: .9rem; height: .9rem;
			background: transparent url('/latest/lib/tpl/nuropa/images/icon/edit.svg') no-repeat center;
			background-size: 100%;
		}
	}
}

body.mode_edit, body.mode_preview {
	#main-layout > main {
		& {
			max-width: 100%;
		}
		& > p:first-of-type {
			font-size: small;
			padding-left: .5rem;
		}
		.editBox {
			& {
				background-color: @ini_alt_color;
				border-radius: .25rem;
				padding: .125rem;
			}
			.toolbar {
				z-index: 9;
				position: sticky;
				top: 0;
				background-color: @ini_alt_color;
			}
			#tool__bar {
				& {
					margin-bottom: .125rem;
				}
				button.toolbutton {
					& {
						width: 24px; height: 24px;
						border: transparent solid 1px;
						border-radius: .125rem;
						background-color: @ini_background;
						padding: .125rem;
						margin: .125rem 0 .125rem .25rem;
						cursor: pointer;
					}
					&:hover {
						border-color: @ini_focus_outline;
					}
					&:nth-child(6),
					&:nth-child(10),
					&:nth-child(12),
					&:nth-child(14),
					&:nth-child(16) {
						margin-left: .5rem;
					}
				}
			}
			#draft__status {
				font-size: small;
				margin: .125rem 0 .125rem .5rem;
			}
			#dw__editform {
				textarea {
					width: 100%;
					box-sizing: border-box;
					min-width: 100%;
					max-width: 100%;
					font-family: @ini_mono_fonts;
					font-size: @ini_mono_font_size;
				}
				div.license {
					font-size: small;
					margin: 1.5em .125em 1em .5em;
					text-align: center;
				}
			}
			#wiki__editbar {
				& {
					margin-top: .25rem;
				}
				#size__ctl {
					& {
						float: right;
					}
					img {
						width: 24px;
						height: 24px;
						margin-left: .25rem;
					}
				}
				.editButtons {
					& {
						display: flex;
						justify-content: center;
						padding: .5rem 0 0 0;
					}
					button {
						display: inline-grid;
						grid-template-columns: 1em auto;
						column-gap: .25em;
						font-family: @ini_toolbar_fonts;
						font-size: @ini_toolbar_font_size;
						line-height: 1em;
						font-weight: 550;
						margin: 0 .5em;
						border: @ini_toolbar_border solid 1.5pt;
						background-color: @ini_toolbar_background;
						padding: .25em .5em;
						color: @ini_toolbar_text;
						cursor: pointer;
					}
					button::before {
						content: ' ';
						width: 1em; height: 1em;
						background: none center bottom no-repeat;
						background-size: 1em;

					}
					button#edbtn__save {
						background-color: #ccddff;
					}
					button#edbtn__save::before {
						background-image: url('images/icon/edit-save.svg');
					}
					button#edbtn__preview {
						background-color: #ccffdd;
					}
					button#edbtn__preview::before {
						background-image: url('images/icon/edit-preview.svg');
					}
					button[name="do[cancel]"] {
						background-color: #ffccdd;
					}
					button[name="do[cancel]"]::before {
						background-image: url('images/icon/edit-cancel.svg');
					}
					button:hover {
						border-color: @ini_toolbar_text;
					}
				}
				.summary {
					& {
						display: grid;
						grid-template-columns: auto min-content;
						column-gap: .5rem;
					}
					label[for=edit__summary] {
						& > span {
							display: block;
							width: 100%;
							font-size: smaller;
						}
						input[type=text] {
							width: e('calc(100% - 10px)');
							margin: 4px;
						}
					}
					label[for=edit__minoredit] {
						&::before {
							content: ' ';
							display: block;
							width: 100%;
							font-size: smaller;
							margin-bottom: .125rem;
						}
						input {
							margin: 4px;
						}
						span {
							white-space: nowrap;
						}
					}
				}
				
			}
		}
	}
	h1#preview {
		& {
			max-width: @ini_site_width;
			font-size: 1rem;
			line-height: 1rem;
			margin: .25rem auto;
		}
		& + div.level1 {
			max-width: @ini_site_width;
			margin: 0 auto;
		}
	}
	div.preview {
		max-width: @ini_site_width;
		margin: 0 auto;
		border: @ini_border_color solid 1px;
		padding: .5rem .25rem;
		-webkit-box-shadow: .125rem .125rem .5rem 0 rgba(0,0,0,.2);
		-moz-box-shadow: .125rem .125rem .5rem 0 rgba(0,0,0,.2);
		box-shadow: .125rem .125rem .5rem 0 rgba(0,0,0,.2);
		border-top: @ini_menubar_background solid 1rem;
		border-bottom: @ini_footer_background solid 1rem;
		overflow: hidden;
	}
	
	& > div.picker {
		& {
			font-family: @ini_toolbar_fonts;
			font-size: @ini_toolbar_font_size;
			background-color: @ini_alt_color;
			border: @ini_border_color solid 1px;
			color: @ini_toolbar_text;
			padding: .125rem;
			-webkit-box-shadow: .125rem .125rem .5rem 0 rgba(0,0,0,.2);
			-moz-box-shadow: .125rem .125rem .5rem 0 rgba(0,0,0,.2);
			box-shadow: .125rem .125rem .5rem 0 rgba(0,0,0,.2);
		}
		button {
			& {
				background-color: @ini_toolbar_background;
				border: @ini_toolbar_border solid 1px;
				min-width: 24px; min-height: 24px;
				cursor: pointer;
				margin: 1px;
			}
			&:hover {
				background-color: @ini_toolbar_text;
				color: @ini_toolbar_background;
			}
		}
		&#picker1 {
			width: 308px; max-width: 308px; min-width: 308px;
			resize: both;
			overflow: auto;
		}
		&#picker2 {
			width: 585px; max-width: 585px; min-width: 585px;
			resize: both;
			overflow: auto;
		}
	}	
}

