@charset "UTF-8";

/* Stylesheet for search elements in the DokuWiki Nuropa template
 * by Sascha Leib
 * File name: _search.css
 */

 body > header #qsearch__out {
	& {
		z-index: 20;
		position: absolute;
		margin-top: 2em;
		width: auto;
		padding: 0;
		white-space: nowrap;
		font-size: 1rem;
		background-color: @ini_background;
		-webkit-box-shadow:	2px 2px 2px 0 rgba(0,0,0,.5);
		-moz-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.5);
		box-shadow:	2px 2px 2px 0 rgba(0,0,0,.5);
	}
	strong {
		display: none;
		padding: 2pt;
		font-weight: normal;
	}
	ul {
		border: @ini_border solid 1px;
		border-top-width: 0;
		max-height: 11em;
	}
	li {
		border-top: @ini_border solid 1px;
	}
	a {
		display: block;
		padding: 2pt 0 2pt 4pt;
		border: transparent solid 2px;
		overflow: hidden;
		text-overflow: '\2025';
	}
	a:focus {
		border-color: @ini_focus_outline;
	}
}