/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: css/_site-toolbar.css
 */

#searchbar__layout {
	& {
		clear: both;
		width: 100%;
		background-color: @ini_searchbar_background;
		font-size: @ini_base_fontsize;
		box-sizing: border-box;
	}
	& > .content {
		width: 100%;
		max-width: @ini_site_width;
		box-sizing: border-box;
		height: @ini_searchbar_height;
		margin: 0 auto;
		padding: .5rem;
		display: grid;
		grid-template-columns: max-content 3fr max-content;
		place-items: center;
		column-gap: 1.5rem;
	}
	[popover] {
		& {
			position: relative;
			inset: unset;
			background-color: @ini_searchbar_background;
			width: max-content;
			border: darken(@ini_searchbar_background, 15%) solid 1px;
			border-radius: .35em;
			box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
			padding: 2px	;
			z-index: 101;
			overflow: hidden;
		}
		ul {
			list-style: none inside;
			display: flex;
			flex-flow: column nowrap;
		}
		li, li a {
			font-size: .8rem;
			box-sizing: border-box;
			width: 100%;
		}
		a {
			padding: .5em 1.5em .5em .5em;
			text-decoration: none;
			color: @ini_searchbar_link;
			border-radius: .25em;
		}
		a span {
			color: @ini_searchbar_link;
		}
		svg {
			fill: @ini_searchbar_icon;
		}
		a:has(svg) {
			display: grid;
			grid-template-columns: 1.5em auto;
			align-items: center;
			column-gap: .25em;
		}
	}
	#sb__languages__menu {
		a {
			display: grid;
			grid-template-columns: 1.5em auto;
			align-items: center;
			column-gap: .25em;
		}
		a::before {
			content: attr(lang);
			text-transform: uppercase;
			display: inline-block;
			width: 1.25em;
			text-align: center;
			color: @ini_searchbar_icon;
			font-size: .8em;
		}
	}
}

#site__logo {
	& {
		height: @ini_searchbar_height - 1rem;
	}
	& > * {
		display: inline-block;
		box-sizing: border-box;
		height: 100%;
		width: auto;
	}
	a.logo img {
		height: 100%;
		width: auto;
	}
}

#search__group {
	& {
		justify-self: stretch;
	}
	
	#dw__search {
		svg {
			fill: @ini_searchbar_icon;
			width: 1rem; height: 1rem;
		}
		input[type="text"] {
			font-family: @ini_searchfield_fonts;
			font-size: 1rem;
			color: @ini_searchfield_text;
			margin-left: .25em;
			border: none;
			background-color: @ini_searchfield_background;
		}
		span.label {
			display: none;
		}
		button {
			& {
				border: none;
				background: transparent none;
				color: @ini_searchbar_link;
				padding: .5em .25em;
				border-radius: .5em;
				display: grid;
				grid-template-columns: 1rem;
				align-items: center;
				column-gap: .25rem;
				cursor: pointer;
			}
			&:focus, &:active, &:hover {
				& {
					background-color: @ini_focus;
					color: @ini_searchfield_background;
					padding: .5em 1em .5em .5em;
					grid-template-columns: 1rem auto;
				}
				svg {
					fill: @ini_searchfield_background;
				}
				span.label {
					display: inline-block;
				}
			}
			&[type="reset"] {
				display: none;
			}
		}
		
		div.field {
			& {
				display: grid;
				border: @ini_searchfield_border solid 1px;
				grid-template-columns: auto min-content min-content;
				background-color: @ini_searchfield_background;
				border-radius: .5rem;
				padding: .25rem;
			}
			&:focus-within {
				outline: @ini_focus solid 2pt;
				-webkit-box-shadow: inset 1.5pt 1.5pt 2pt rgba(0,0,0,0.25);
				box-shadow: inset 1.5pt 1.5pt 2pt rgba(0,0,0,0.25);
			}
			input[type="text"]:focus, button:focus {
				outline: transparent none 0;
			}
		}

		
	}
	
	#qsearch__out {
		& {
			display: none;
		}
	}

	
	#search__backdrop:focus-within {
		& {
			position: absolute;
			top: 0; left: 0;
			width: 100vw; height: calc(~"100vh - " @ini_toolbar_font_size * 2.4);
			margin-top: @ini_toolbar_font_size * 2.4;
			padding: .5rem .25rem .25rem .25rem;
			backdrop-filter: ~"blur(0.67px) saturate(.4)";
			z-index: 998;
			/*background-color: rgba(0,0,0,.1);*/
		}
		form {
			position: relative;
			width: 100%; max-width: 32rem;
			margin: 0 auto;
			padding: 1rem;
			background-color: fadeout(@ini_searchbar_background, 10%);
			border: @ini_searchfield_border solid 1px;
			border-radius: .5rem;
			-webkit-box-shadow: 1.5pt 1.5pt 2pt rgba(0,0,0,0.25);
			box-shadow: 1.5pt 1.5pt 2pt rgba(0,0,0,0.25);
			z-index: 999;
			box-sizing: border-box;
		}
		button[type="reset"] {
			display: grid;
		}

		#qsearch__out {
			display: block;
		}
	}
}

#sitetools__group {
	& {
		max-height: @ini_searchbar_height;
	}
	ul {
		list-style: none inside;
	}
	& > ul {
		& {
			display: flex;
		}
		& > li {
			& {
				display: inline-block;
			}
			& > button, & > a, & > label,
			#user-action-buttons li a {
				& {
					display: grid;
					grid-template-columns: auto auto;
					align-items: center;
					column-gap: .25em;
					
					border: transparent 0 none;
					border-radius: .25rem;
					padding: .35em 3pt;
					margin: 2px;
					
					background-color: transparent;
					color: @ini_searchbar_link;
					text-decoration: none;
					font-size: .86rem;
					cursor: pointer;
				}
				&:hover {
					filter: brightness(.9);
				}
				&:focus {
					outline: @ini_focus solid 2px;
				}
				& > * {
					display: inline-block;
				}
				svg {
					& {
						display: inline-block;
						fill: @ini_searchbar_icon;
						width: 1.5rem;
						height: 1.5rem;
						font-size: .8rem;
					}
					text {
						font-size: .8em;
						fill: @ini_searchbar_background;
						text-transform: uppercase;
					}
				}
				& > span {
					color: @ini_searchbar_link;
					white-space: nowrap;
				}
			}
		}	
	}
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: @ini_site_width) {

	#searchbar__layout > .content {
		column-gap: .75rem;
	}
	#searchbar__layout #sitetools__group button > span {
		width: 0;
		overflow: hidden;
	}
}

@media (max-width: @ini_site_tablet_width) {

	#searchbar__layout > .content {
		column-gap: .25rem;
	}
	
	#site__logo {
		height: (@ini_searchbar_height * 0.8);
	}
}
@media (max-width: @ini_site_phone_width) {
}