/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: css/_site-toolbar.css
 */

#searchbar__layout {
	& {
		clear: both;
		width: 100%;
		background-color: @ini_searchbar_background;
		color: @ini_searchbar_text;
		font-size: @ini_base_fontsize;
		height: @ini_searchbar_height;
		box-sizing: border-box;
	}
	& > .content {
		width: 100%;
		max-width: @ini_site_width;
		margin: 0 auto;
		padding: .5rem;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
	}
	ul, ol {
		list-style: none inside;
	}
	a, button {
		& {
			display: inline-flex;
			align-items: center;
			column-gap: .5em;
			
			border: transparent 0 none;
			border-radius: .25rem;
			padding: .35em 3pt;
			margin: 2px;
			background-color: transparent;
			
			color: @ini_searchbar_link;
			text-decoration: none;
			cursor: pointer;
		}
		& > * {
			display: inline-block;
		}
		svg {
			fill: @ini_searchbar_link;
			width: 1em; height: 1em;
			display: inline-block;
		}
	}
	a:hover, button:hover {
		filter: brightness(.9);
	}
	a:focus, button:focus {
		outline: @ini_focus solid 2px;
	}
	li {
		& {
			display: inline-block;
		}
		a, button {
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			text-decoration: none;
			column-gap: .5em;
		}
	}

}

#site__logo {
	& {
	}
	a.logo {
		display: contents;
		margin: 0 auto;
	}
	img {
		display: inline-block;
		max-height: calc(@ini_searchbar_height - 1rem);
		height: 100%;
		width: auto;
	}
}

#search__group {
	& {
		border: green dotted 1px;
	}
}
#sitetools__group {
	& {
		border: cyan dotted 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	button {
		& {
			font-size: 1.25rem;
		}
		.label {
			display: none;
		}
		svg text {
			font-size: 33%;
			fill: @ini_searchbar_background;
			text-transform: uppercase;
		}
	}
}

@media (prefers-color-scheme: dark) {

    /* general colour settings: */
    body.darkmode {
		#site__logo img {
			filter: drop-shadow(0 0 5pt rgba(255,255,255,0.3));
		}
		#searchbar__layout {
			background-color: @ini_searchbar_background_dark;
			color: @ini_searchbar_text_dark;
		}
	}
}