@charset "UTF-8";

/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: layout.css
 */

/* Root styles */

html {
	line-height: 1.15;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: @ini_default_fonts;
	font-size: @ini_default_font_size;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: @ini_background;
	color: @ini_text;
}

/* utility classes: */
.sr-only { display: none; }

/* Skip Link */
#skip-link {
	position: fixed;
	left: 4pt;
	top: 4pt;
	width: auto;
	z-index: 9999;
}
#skip-link a {
	position: absolute;
	background-color: #4073AF;
	font-size: 1.25em;
	color: #fff;
	height: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}
#skip-link a:focus {
	position: static;
	display: inline-block;
	padding: 8px;
	height: auto;
	clip: auto;
	overflow: visible;
}

/* layout elements: */
#toolbar-layout,
#pre-header-layout,
#header-layout,
#main-layout,
#footer-layout,
#dokuwiki__footer {
	width: 100%;
	clear: both;
}
#toolbar-layout > div,
#pre-header-layout > div,
#header-layout > header,
#main-layout > main,
#footer-layout > footer,
#dokuwiki__footer > div {
	width: 100%;
	max-width: @ini_site_width;
	margin: 0 auto;
	padding: 0 .25rem;
}

/* column layouts: */
.layout-2-columns,
.layout-3-columns,
.layout-4-columns {
	display: grid;
	box-sizing: border-box;
    column-gap: 12pt;
	width: 100%;
    clear: both;
}
.layout-2-columns { grid-template-columns: 1fr 1fr; }
.layout-3-columns { grid-template-columns: 1fr 1fr 1fr; }
.layout-4-columns { grid-template-columns: 1fr 1fr 1fr 1fr; }

.column-1 {
	.layout-2-columns &,
	.layout-3-columns &,
	.layout-4-columns & { grid-column: e("1 / 1") }
}
.column-2 {
	.layout-2-columns &,
	.layout-3-columns &,
	.layout-4-columns & { grid-column: e("2 / 2") }
}
.column-3 {
	.layout-3-columns &,
	.layout-4-columns & { grid-column: e("3 / 3") }
}
.column-4 {
	.layout-4-columns & { grid-column: e("4 / 4") }
}
.column-1-2 {
	.layout-2-columns &,
	.layout-3-columns &,
	.layout-4-columns & { grid-column: e("1 / 2") }
}
.column-2-3 {
	.layout-3-columns &,
	.layout-4-columns & { grid-column: e("2 / 3") }
}
.column-1-3 {
	.layout-3-columns &,
	.layout-4-columns & { grid-column: e("1 / 3") }
}
.column-2-4 {
	.layout-4-columns & { grid-column: e("2 / 4") }
}
.column-3-4 {
	.layout-4-columns & { grid-column: e("3 / 4") }
}
