/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: site-toolbar.css
 */

#sidebar {
	.tg_button {
		& {
			float: right;
			display: block;
			background-color: transparent;
			border: transparent none 0;
			padding: 0;
			margin-right: 2px;
			font-size: 1.5rem;
			visibility: hidden;
		}
		&::after {
			content: '\2039';
			color: @ini_link;
			display: inline-block;
			width: .75em;
			height: 1.25em;
			text-align: center;
		}
		&:focus {
			outline: @ini_focus_outline solid 2px;
		}
		span {
			display: none;
		}
	}
	#sbNavigation {
		& {
			clear: both;
		}
		& > ul, & > ol {
			margin-left: 1.75em;
		}
	}
}

/* hide sidebar in special modes: */
body.mode_admin,
body.mode_edit,
body.mode_media,
body.mode_index,
body.mode_revisions,
body.mode_backlink,
body.mode_recent,
body.mode_profile,
body.mode_login,
body.mode_diff {
	#main-sidebar-layout {
		grid-template-columns: 0 100% !important;
	}
	#sbNavigation {
		display: none;
	}
}