@charset "UTF-8";

/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: layout.css
 */

body > #footer-layout {
	& {
		background-color: @ini_footer_background;
		color: @ini_footer_text;
	}
	#ftLicenseButtons {
		text-align: center;

	}
}
