/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: site-toolbar.css
 */

#toolbar-layout {
	& {
		background-color: @ini_toolbar_background;
		color: @ini_toolbar_text;
		font-family: @ini_toolbar_fonts;
		font-size: @ini_toolbar_font_size;
		//height: ~"calc(1.4em + 1px)";
		clear: both;
		border-bottom: @ini_toolbar_border solid 1px;
	}
	button {
		& {
			height: 100%;
			font-family: @ini_toolbar_fonts;
			font-size: inherit;
			border: none;
			background: transparent;
			color: @ini_toolbar_text;
			padding: 0 3pt;
			cursor: pointer;
		}
		&:hover,
		&:focus {
			background-color: @ini_toolbar_text;
			color: @ini_toolbar_background;
		}
	}
}

#site-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
}

#site-toolbar-group {
	display: grid;
	grid-template-columns: auto 2.25em;
}
#tb-menu-group {
	display: grid;
	grid-template-columns: 0 1.5em;
	border: @ini_toolbar_border solid 0;
	border-width: 0 1px;
	height: ~"calc(100% - 1px)";
}
#tb-menu-group::before {
	content: ' ';
	display: inline-block;
	width: 4px;
	height: ~"calc(100% - 2px)";
	background: linear-gradient(90deg, transparent 0, @ini_toolbar_background 80%);
	position: relative;
	left: -5px;
}

/* style the user menu, if in the toolbar: */
#tb-siteinfo {
	& {
		padding: 0 .5em;
	}
	#user-button {
		& {
			display: inline-grid;
			grid-template-columns: min-content auto 0;
			gap: .25em;
			border: transparent none 0;
			border-width: 0 1px;
			border-radius: 0;
			padding: .25em;
		}
		svg {
			fill: @ini_toolbar_text;
		}
		&:hover,
		&:focus {
			outline: none;
		}
		&:hover svg,
		&:focus svg {
			fill: @ini_toolbar_background;
		}
		&:after {
			content: ' ';
			display: inline-block;
			width: 4px;
			height: 100%;
			background: linear-gradient(90deg, @ini_toolbar_background 20%, transparent 100%);
			position: relative;
			right: -5px;
		}
	}
	#user-action-buttons {
		& {
			list-style: none;
			font-family: @ini_toolbar_fonts;
			height: 100%;
		}
		li {
			& {
				height: 100%;
				display: flex;
			}
			a {
				grid-template-columns: 1.5em auto;
				align-items: center;
				padding: .25em;
			}
			a:link,
			a:visited {
				color: @ini_toolbar_text;
				text-decoration: none;
				display: inline-grid;
				gap: .125em;
				width: 100%;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

/* tools menu button */
#pagetools-btn {
	& {
		height: 100%;
		width: 2.2em;
		border: transparent none 0;
		border-radius: 0;
		background: transparent none;
		padding: 2px .25em;
		font-size: inherit;
		cursor: pointer;
	}
	svg {
		fill: @ini_toolbar_text;
		width: 1.5em; height: 1.5em;
	}
	svg.overflow { display: block; }
	svg.menu { display: none; }

	&:hover,
	&:focus {
		& {
			background-color: @ini_toolbar_text;
			color: @ini_toolbar_background;
			outline: none;
		}
		svg {
			fill: @ini_toolbar_background;
		}
	}
}

/* tools toolbar */
#site-toolbar {

	#pagetools-menu,
	#pagetools-popup,
	#user-action-menu {
		li {
			a {
				display: inline-grid;
				grid-template-columns: 1.5em auto;
				gap: .4em;
				height: 100%; width: 100%;
				box-sizing: border-box;
				padding: .25em .5em .25em .5em;
			}
			a:link,
			a:visited {
				color: @ini_toolbar_text;
				text-decoration: none;
			}
			a:hover,
			a:focus {
				background-color: @ini_toolbar_text;
				color: @ini_toolbar_background;
				outline: none;
			}
			svg {
				width: 1.5em; height: auto;
				fill: @ini_toolbar_text;
			}
			a:hover svg,
			a:focus svg {
				fill: @ini_toolbar_background;
			}
		}
	}

	#user-action-menu,
	#pagetools-popup {
		& {
			background: @ini_toolbar_background;
			list-style: none inside;
			position: absolute;
			top: ~"calc(1.4em + 12px)";
			width: max-content;
			border: @ini_toolbar_border solid 1px;
			border-radius: 2px;
			box-shadow: 1.5px 1.5px 1px .5px rgba(0,0,0,.4);
		}
		li {
			& {
				border-bottom: @ini_toolbar_border solid 1px;
			}
			&:last-child {
				border-bottom: transparent none;
			}
		}
	}

	#user-action-menu {
		z-index: 101;
	}

	#pagetools-menu {
		& {
			display: flex;
			flex-wrap: nowrap;
			overflow: hidden;
		}
		&.compact {
			max-width: 0 !important;
		}
		li {
			& {
				display: inline-block;
				height: 100%;
			}
			a {
				border-left: @ini_toolbar_border solid 1px;
			}

		}
	}

	#pagetools-popup {
		min-width: 11rem;
		margin-left: -10em;
		margin-top: 8px;
		z-index: 102;
	}

	/* triangles: */
	#user-action-menu::after,
	#user-action-menu::before,
	#pagetools-popup::after,
	#pagetools-popup::before {
		bottom: 100%;
		border: solid transparent;
		content: '';
		width: 0; height: 0;
		position: absolute;
		pointer-events: none;
	}
	#user-action-menu::before,
	#pagetools-popup::before {
	  border-color: transparent;
	  border-bottom-color: @ini_toolbar_border;
	  border-width: 9px;
	  margin-left: -9px;
	}
	#user-action-menu::after,
	#pagetools-popup::after {
	  border-color: transparent;
	  border-bottom-color: @ini_toolbar_background;
	  border-width: 8px;
	  margin-left: -8px;
	}
	#user-action-menu::after,
	#user-action-menu::before {
		left: 1em;
	}
	#pagetools-popup::after,
	#pagetools-popup::before {
	  left: ~"calc(100% - 10px)";
	}
}

/* always use compact menu on small screens: */
@media (max-width: 359px) {
	#site-toolbar #pagetools-menu {
		max-width: 0 !important;
	}
}
