/* Stylesheet for DokuWiki Nuropa template
 * by Sascha Leib
 * File name: css/parts/footer.less
 */

#to-top-block {
}

#footer__layout {
	& {
		background-color: @ini_footer_background;
		color: @ini_footer_textcolor;
		padding-top: 1rem;
	}
	footer {
		width: 100%;
		max-width: @ini_site_width;
		margin: 0 auto;
	}
	ftLicenseInfo {
		font-size: smaller;
		line-height: 1.25;
	}
	#ftLicenseButtons {
		text-align: center;
	}
	a:any-link {
		color: @ini_footer_linkcolor;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
 }
 
 @media (prefers-color-scheme: dark) {
	body.darkmode {
		#footer__layout {
			& {
				background-color: @ini_footer_background_dark;
				color: @ini_footer_textcolor_dark;
			}
			a:any-link {
				color: @ini_footer_linkcolor_dark;
			}
		}
	}
}